*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid green; */
    font-family: sans-serif;
}
body{
    /* Dimensions */

    /* Other */
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    /* Dimensions */
    height: auto;
    /* Other */
    font-size: 50px;
}
.projectContainer{
    /* Dimensions */
    width: 600px;
    height: 600px;
    /* Other */
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectName{
    /* Dimensions */
    width: 100%;
    /* Other */
    text-align: center;
    background-color: lightblue;
}
.topSection, .bottomSection{
    /* Dimensions */
    width: 100%;
    height: 50%;
    /* Other */
    display: flex;
    flex-direction: row;
}
.userInputContainer{
    /* Dimensions */
    width: 60%;
    /* Other */
}
.projectImgContainer, .templateImgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.projectImgContainer{
    /* Dimensions */
    width: 40%;
    /* Other */
}
.projectImg, .templateImg{
    height: 250px;
}
.templateImgContainer{
    /* Dimensions */
    width: 60%;
    /* Other */
}
.templateInfo{
    /* Dimensions */
    width: 40%;
    /* Other */
}









/* .projectContainer h3{
    text-align: center;
    width: 100%;
} */

/* .projectPicture{
    height: 250px;
} */

/* .userInputContainer p{
    font-weight: bold;
    font-size: large;
} */
/* .finishedDimensionsContainer{
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}
.generatedOutput{
    border: 1px solid green;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.templateContainer{

}
.templatePicture{
    width: 200px;
} */